td.expand-table-toggle-cell {
	padding: 0 2px 0 0 !important;
}

.rotatable-icon {
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.account-detail-item {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-bottom: 0.5rem;
	gap: 2px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: var(--grey-10);
	border: 1px solid var(--grey-30);

	border-radius: 0.375rem;
	width: fit-content;

}
