<div class="p-responsive">
    @switch (pageState()) {
        @case(PageStates.Loading) { <app-loader></app-loader> }
        @case(PageStates.Error) {
            <div @fadeIn400 class="error-card-container">
                <div class="error-card">
                    <div class="error-icon-wrapper"><span class="material-symbols-rounded">cloud_off</span></div>
                    <h3 class="error-title">אופס, משהו השתבש</h3>
                    <button (click)="refreshData()" class="primary md retry-button">
                        <span class="material-symbols-rounded">refresh</span>
                        <span>נסה שוב</span>
                    </button>
                </div>
            </div>
        }
        @case(PageStates.Empty) {
            <div @fadeIn400 class="empty-state">
                <i class="pi pi-building"></i>
                <p>אין חשבונות במערכת</p>
            </div>
        }
        @case(PageStates.Ready) {
            <div @fadeIn400 class="flex flex-col gap-4 w-full h-full">
                <h1 class="main-title">ניהול חשבונות</h1>
                <div class="actions-bar">
                    <span class="search-box">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="חיפוש חשבון או משתמש..." [(ngModel)]="searchQuery">
                    </span>
                </div>

				<p-table [value]="filteredAccounts()" dataKey="id" 
					[expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)"
					(onRowCollapse)="onRowCollapse($event)">

					<ng-template #header>
						<tr>
							<th style="width: 3rem"></th>
							<th pSortableColumn="name">שם החשבון <p-sortIcon field="name"></p-sortIcon></th>
							<th pSortableColumn="owner">בעל החשבון <p-sortIcon field="owner"></p-sortIcon></th>
							<th pSortableColumn="tier">תוכנית<p-sortIcon field="tier"></p-sortIcon></th>
							<th pSortableColumn="users">משתמשים <p-sortIcon field="users"></p-sortIcon></th>
							<th class="hidden sm:table-cell" pSortableColumn="supplierCount">ספקים <p-sortIcon field="supplierCount"></p-sortIcon></th>
							<th class="hidden md:table-cell" pSortableColumn="categoryCount">קטגוריות <p-sortIcon field="categoryCount"></p-sortIcon></th>
							<th class="hidden lg:table-cell" pSortableColumn="supplierCount">מוצרים <p-sortIcon field="productCount"></p-sortIcon></th>
							<th></th>
						</tr>
					</ng-template>

					<ng-template #body let-account let-expanded="expanded">
						<tr>
							<td class="expand-table-toggle-cell">
								<button type="button" pButton pRipple [pRowToggler]="account" icon="pi pi-chevron-left"
									[pRowToggler]="account" size="small" [rounded]="true"
									class="rotatable-icon"
									[class.-rotate-90]="expanded"
									severity="secondary">
								</button>
							</td>
							<td>{{ account.name }}</td>
							<td>{{ account.owner?.username || account.owner?.email }}</td>
							<td>
								<app-badge [enumValue]="account.tier" [dataArray]="AccountTierData"></app-badge>
							</td>
							<td><p-badge [value]="account.users?.length || 0" severity="secondary"></p-badge></td>
							<td class="hidden sm:table-cell" ><p-badge [value]="account.supplierCount || 0" severity="secondary"></p-badge></td>
							<td class="hidden md:table-cell" ><p-badge [value]="account.categoryCount || 0" severity="secondary"></p-badge></td>
							<td class="hidden lg:table-cell"><p-badge [value]="account.productCount || 0" severity="secondary"></p-badge></td>
							<td>
								<div class="actions-cell">
									<div class="actions-cell">
										<p-button tooltipPosition="top" pTooltip="עריכה" icon="pi pi-pen-to-square"
											(click)="editAccount(account)" size="small" [rounded]="true"
											severity="secondary">
										</p-button>
										<p-button tooltipPosition="top" pTooltip="מחיקה" icon="pi pi-trash"
											(click)="confirmDelete(account)" size="small" [rounded]="true"
											severity="danger">
										</p-button>
									</div>
								</div>
							</td>
						</tr>
					</ng-template>
					
					<ng-template #expandedrow let-account>
						<tr @rowExpansionTrigger>
							<td colspan="100%">
								<div>
									<div class="flex justify-end gap-4">
										<div class="account-detail-item flex sm:hidden">
											<label class="p-responsive">סה"כ ספקים</label>
											<p-badge [value]="account.supplierCount || 0" severity="secondary"></p-badge>
										</div>
										<div class="account-detail-item flex md:hidden">
											<label class="p-responsive">סה"כ קטגוריות</label>
											<p-badge [value]="account.categoryCount || 0" severity="secondary"></p-badge>
										</div>
										<div class="account-detail-item flex lg:hidden">
											<label class="p-responsive">סה"כ מוצרים</label>
											<p-badge [value]="account.productCount || 0" severity="secondary"></p-badge>
										</div>
									</div>
									<p-table [value]="account.users" dataKey="id" styleClass="expanded-table-content" size="small">
										<ng-template #header>
											<tr>
												<th pSortableColumn="username">שם <p-sortIcon field="username"></p-sortIcon></th>
												<th pSortableColumn="email">אימייל <p-sortIcon field="email"></p-sortIcon></th>
												<th pSortableColumn="role">תפקיד <p-sortIcon field="role"></p-sortIcon></th>
												
												<th></th>
											</tr>
										</ng-template>
										<ng-template #body let-user>
											<tr>
												<td>{{ user.username }}</td>
												<td>{{ user.email }}</td>
												<td><app-badge [enumValue]="user.role" [dataArray]="userRoleData"></app-badge></td>
												<td>
													<div class="actions-cell">
														<p-button tooltipPosition="top" pTooltip="עריכה" icon="pi pi-pen-to-square"
															(click)="editUser(user)" size="small" [rounded]="true" severity="secondary"></p-button>
														<p-button tooltipPosition="top" pTooltip="מחיקה" icon="pi pi-trash"
															(click)="confirmDelete(user)" size="small" [rounded]="true"
															severity="danger"></p-button>
													</div>
												</td>
											</tr>
										</ng-template>
									</p-table>
								</div>
							</td>
						</tr>
					</ng-template>

					<ng-template #emptymessage>
						<tr>
							<td colspan="5" class="text-center p-4">
								<div class="flex flex-col items-center gap-2 text-gray-500">
									<i class="pi pi-search-minus text-3xl"></i>
									<span>לא נמצאו חשבונות התואמים לחיפוש.</span>
								</div>
							</td>
						</tr>
					</ng-template>
				</p-table>
		
            </div>
        }
    }
    <p-confirmdialog header="אישור מחיקה" icon="pi pi-exclamation-triangle" acceptLabel="מחק" rejectLabel="ביטול" acceptButtonStyleClass="p-button-danger" rejectButtonStyleClass="p-button-text"></p-confirmdialog>

	<app-pricing-plans></app-pricing-plans>

</div>

