.actions-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	width: 100%;

	.desktop-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		width: 100%;
	}
  
	.mobile-row {
		display: none;
		justify-content: center;
		align-items: center;
		width: 100%;
		/* padding-right: 26px; */
	}

	@media (max-width: 1200px) {
		.desktop-row .select-buttons-desktop {
			display: none;
		}
		
		.mobile-row {
			display: flex;
		}
	}
}
/* 
.supplier-select {
	display: flex;
	align-items: center;

	.p-select {
		min-width: 140px;
		border-radius: 6px;
		background: #fff;

		.p-select-label {
			padding: 0.5rem;
			font-size: 1rem;
		}
	}
}
 */
.product-name {
	/* font-medium left-border max-w-20 */
	font-weight: 500;
	border-left: 1px solid var(--grey-100);
	width: 140px !important;
	min-width: 140px !important;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:last-child > td.product-name {
  border-left: 1px solid var(--grey-100) !important;
}


.today-column {
	background-color: #f8fafc;
	font-weight: 500;
	color: var(--primary-600) !important;
	border-left: 1px solid var(--primary-100) !important;
	border-right: 1px solid var(--primary-100) !important;
	background-color: var(--primary-30) !important;

	&.td {
		background-color: var(--primary-20) !important;
	}
}

:host ::ng-deep .left-border {
	border-left: 1px solid var(--grey-50);
}

.week-odd {
	background-color: var((--primary-50));
}

/* עיצוב רקע לשבועות זוגיים (בדרך כלל לבן, אבל מוגדר למקרה הצורך) */
.week-even {
	background-color: #ffffff;
}

/* ודא שההצללה חלה גם על תאי ה-header וגם על תאי ה-body */
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th.week-odd,
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td.week-odd,
:host ::ng-deep .p-datatable .p-datatable-tfoot > tr > td.week-odd  {
	background-color: #f9fafb;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th.week-even,
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td.week-even,
:host ::ng-deep .p-datatable .p-datatable-tfoot > tr > td.week-even {
	background-color: #ffffff;
}
:host ::ng-deep .p-datatable .p-datatable-tfoot > tr > td {
	border-top: 1px solid var(--primary-200);
	color: var(--primary-700);
}

:host ::ng-deep .mat-mdc-tab-body-wrapper {
    height: 100%;
}
