@import './../../../assets/styles/_variables.css';

/* ---------------------------------- */
/*      General Layout & Structure    */
/* ---------------------------------- */

.dialog-content {
	max-height: 80vh;
    overflow-y: auto;
    padding: 8px 12px 12px;
    margin: 0 0 12px 0;
    margin: 0 0 0px 0;
	&::after { 
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, white 100%);
    pointer-events: none;
}
}

.total-price {
	padding: 1px 8px;
	border-radius: 9999px;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.25rem;
	background-color: var(--green-100);
	display: flex;
	gap: 4px;
	.number-wrapper {
		display: inline-flex;
		width: 74px;
		text-align: left;
		gap: 10px;
	}
}

.category-wrapper {
	background-color: var(--grey-10);
	border-radius: var(--border-radius);
	height: 100%;
	border: 1px solid var(--grey-30);
	padding: 2px;
}

.products-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
	height: 100%;
}
.product-wrapper {
	border: 1px solid var(--grey-50);
	border-radius: var(--border-radius);
	background: var(--grey-50);
	display: flex;
	flex-direction: column;
	padding: 4px 0;
	gap: 4px;
	transition: all 0.1s ease-in-out;
	box-shadow: 0 1px 2px var(--grey-200);
	cursor: pointer;
	&:hover {
		background: var(--secondary-100);
		border-color: var(--secondary-200);
	}

	&.with-quantity {
		background: var(--secondary-200);
		border-color: var(--secondary-200);
		&:hover {
			transition: background 0.5s ease-in-out borderColor 0.5s ease-in-out;
			background: var(--secondary-200);
			border-color: var(--secondary-300);
		}
	}

	&.sent-order {
		cursor: default;
	}

	&.not-in-order {
		background: var(--grey-20);
		opacity: 0.5;
		border-color: var(--grey-60);
		&:hover {
			transition: background 0.5s ease-in-out borderColor 0.5s ease-in-out;
			background: var(--grey-30);
			border-color: var(--grey-90);
		}
	}

	.product-name-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4px;
		grid-column: span 2;
		transition: all 0.3s ease-in-out;
		transform: translateY(2px);
		&.no-quantity {
			transform: translateY(8px);

			.product-name {
				font-weight: 400;
				color: var(--grey-700);
			}
		}

		.product-name {
			font-size: 12px;
			/* font-weight: 500; */
			color: var(--grey-800);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: flex;
			align-items: center;
			border-radius: 4px;
			padding: 0 1px;
			line-height: 12px;
		}
	}

	.product-quantity-price {
		/* flex items-center justify-center gap-4 opacity-0 */
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
		opacity: 100;
		transition: all 0.3s ease-in-out;
		background: rgba(255, 255, 255, 0.4);
		transform: translateY(0) scale(1);
		max-width: 80%;
		margin: 0 auto;
		border-radius: 12px;
		padding: 1px 4px;

		&.no-quantity {
			opacity: 0;
			transform: translateY(10px) scale(0.6);
			background: rgba(255, 255, 255, 0.1);
			color: transparent;
			pointer-events: none;
		}
	}
}

.total-cost {
	font-size: 10px;
	color: var(--grey-400);
	width: 100%;
	/* min-width: 80px; */
	text-align: left;
	display: flex;
	justify-content: flex-end;
	/* position: absolute;
	left: 12px;
	bottom: 4px; */
}

.form-field textarea {
	width: 100%;
	font-size: 0.9rem;
	resize: vertical;
	border: 1px solid var(--grey-300);
	border-radius: var(--border-radius);
	padding: 0.5rem;
}

/* ---------------------------------- */
/*      Quantity Buttons & Display    */
/* ---------------------------------- */

.quantity-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 100%;
	border-radius: 9999px;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	cursor: pointer;

	i.pi {
		font-size: 12px;
	}

	&:hover:not(:disabled) {
		border-color: var(--primary-300);
		transform: translateY(-1px);
	}
	&:active:not(:disabled) {
		transform: translateY(0);
	}
	&:disabled {
		cursor: default;
		opacity: 0.1;
	}
	&:focus-visible {
		outline: 2px solid #3b82f6;
		outline-offset: 2px;
	}
}

.quantity-number {
	font-size: 12px;
	width: 24px;
	height: 20px;
	padding: 2px 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	opacity: 0;
	scale: 0;
	transform: translateY(5px);
	background-color: transparent;

	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

	&.with-value {
		opacity: 1;
		scale: 1;
		transform: translateY(0);
		background-color: var(--secondary-200);
		color: var(--text-primary);
		animation: bounceIn 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
}

.total-order-cost {
	font-size: 12px;

	/* display: flex;
	align-items: center;
	justify-content: center; */
	text-align: center;
	gap: 2px;
	border-radius: 10px;
	width: 80px;
	opacity: 0;
	scale: 0;
	transform: translateY(5px);
	background-color: transparent;
	white-space: nowrap;

	&.with-value {
		opacity: 1;
		scale: 1;
		transform: translateY(0);
		color: var(--text-primary);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		scale: 0;
		transform: translateY(10px);
	}
	60% {
		opacity: 1;
		scale: 1.5;
		transform: translateY(-1px);
	}
	100% {
		opacity: 1;
		scale: 1;
		transform: translateY(0);
	}
}

/* ---------------------------------- */
/*      Drag & Drop (CDK)             */
/* ---------------------------------- */

.cdk-drag:not(.cdk-drag-disabled) {
	cursor: grab;
}
.cdk-drag:not(.cdk-drag-disabled):active {
	cursor: grabbing;
}

.category-header {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 13px;
	font-weight: 500;
	padding-inline: 4px;
	/* text-sm font-semibold mb-1  */
}

.handle-icon {
	color: var(--grey-500);
	font-size: 0.8rem;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
	opacity: 0.9;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	border-radius: var(--border-radius);
	z-index: 1000;
	direction: rtl;
	overflow: hidden;
	border: 1px solid var(--primary-100);
	background-color: var(--primary-10);
}

.cdk-drag-placeholder {
	opacity: 0.3;
	background: var(--grey-100);
	border: 2px dashed var(--grey-300);
	border-radius: var(--border-radius);
}

.cdk-drag-dragging .category-wrapper,
.cdk-drag-dragging .product-wrapper {
	visibility: hidden;
}

.category-placeholder {
	min-height: 150px;
	background: var(--grey-50);
	border: 2px dashed var(--grey-300);
	border-radius: var(--border-radius);
	transition: all 0.3s ease-in-out;
	box-sizing: border-box;
}

.cdk-drop-list-dragging .category-placeholder {
	border-color: var(--primary-500);
	background: var(--primary-50);
}

.empty-category-placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	height: 100%;
	border: 2px dashed var(--grey-200);
	border-radius: 8px;
	background: var(--grey-50);
	color: var(--grey-500);
	transition: all 0.3s ease-in-out;
}

.cdk-drop-list-receiving .empty-category-placeholder {
	border-color: var(--primary-500);
	background: var(--primary-50);
}
