<div class="dialog-content no-padding" #dialogContent>
  <p-confirmDialog [style]="{width: '350px'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

  <div class="flex flex-col gap-2 w-full h-full">
    @if (supplier && date) {
      <div class="flex flex-col gap-1">
        <div class="flex flex-col">
          <div class="flex items-center justify-between gap-2 flex-wrap sm:flex-nowrap">
            <div class="flex items-center gap-1 order-1">
              <div class="flex items-center gap-1">
                @if (groupedProducts().length != 0 && pageState() !== PageStates().Loading) {
                  <p-button icon="pi pi-external-link pt-0.5" size="small" [rounded]="true" [text]="true" severity="secondary" tooltipPosition="top" [pTooltip]="'לדף הספק'" (click)="navigateToSupplier()"></p-button>
                }
                <span class="dialog-header">{{ supplier.name }} </span>
                @if (groupedProducts().length != 0 && pageState() !== PageStates().Loading) {
                  |<span class="text-xs"> {{ date | date: 'dd/MM/yyyy' }}</span>
                  @if (existingOrder?.status) {
                    | <app-badge [enumValue]="existingOrder ? existingOrder.status : orderStatus" [dataArray]="orderStatusData" [size]="'md'" class="status-badge"></app-badge>
                  }
                }
              </div>
            </div>

            <p-button class="order-2 sm:order-3" icon="pi pi-times" size="small" [rounded]="true" [text]="true" severity="secondary" tooltipPosition="top" [pTooltip]="'סגירה'" (click)="onClose()"></p-button>

            <div class="flex w-full justify-between items-center order-3 sm:order-2">
              <div class="flex gap-1 items-center">
                <p-toggleswitch class="flex scale-75" [(ngModel)]="dragAndDropEnable" (onChange)="dragAndDropEnable.set($event.checked)" [disabled]="!isAdmin()"/>
                <p-button pTooltip="הדבק הזמנה מלוח ההעתקה" tooltipPosition="top" icon="pi pi-clipboard" (click)="pasteFromClipboard()" size="small" [rounded]="true" severity="secondary" [disabled]="isDisabled()"></p-button>
              </div>

              <div class="flex items-center gap-2">
                @if (canUserDelete()) {
                  <p-button [pTooltip]="orderStatus === OrderStatus.Draft ? 'מחק טיוטה' : 'מחק הזמנה'" icon="pi pi-trash" (click)="confirmRemove()" size="small" [rounded]="true" severity="danger"></p-button>
                  <span class="divider"></span>
                }
                <p-splitButton 
                  label="מילוי אוטומטי" 
                  icon="pi pi-sparkles" 
                  (onClick)="fetchSuggestions('general')" 
                  [model]="suggestionItems()"
                  [disabled]="isSuggesting()"
                  size="small"
                  severity="secondary"
                  styleClass="p-button-sm p-button-outlined"
                  [disabled]="isDisabled()">
                </p-splitButton>
                <p-button pTooltip="אפס שינויים" icon="pi pi-undo" (click)="resetForm()" size="small" [rounded]="true" severity="secondary" [disabled]="!orderChanged()"></p-button>
                <p-button pTooltip="הדפס רשימה" icon="pi pi-print" (click)="printOrder()" size="small" [rounded]="true" severity="secondary" [disabled]="!orderHasProducts() && !notes().trim()"></p-button>
                <p-button pTooltip="שמור טיוטה" icon="pi pi-save" (click)="saveOrder()" size="small" [rounded]="true" severity="secondary" [disabled]="!orderChanged()"></p-button>
                <p-button 
                    [pTooltip]="orderHasProducts() || existingOrder?.status != OrderStatus.Sent ? 'שלח בווטסאפ' : ''" 
                    icon="pi pi-whatsapp" 
                    (click)="sendOrderViaWhatsApp()" 
                    size="small" 
                    [rounded]="true" 
                    severity="secondary" 
                    [disabled]="!orderHasProducts() && !notes().trim() || existingOrder?.status == OrderStatus.Sent">
                </p-button>
              </div>
            </div>
          </div>
          <div class="h-7 mt-1" >
            @if (orderHasProducts()) {
              <div class="flex justify-end">
                <span class="total-price">
                  <span class="pl-2">סך ההזמנה:</span>
                  <span class="number-wrapper">
                    <count-up [to]="getSelectedProductsTotalCost()" [decimals]="2" size="small"></count-up>
                    <span class="w-10">₪</span>
                  </span>
                </span>
              </div>
            }
          </div>
          <p class="text-grey-xs text-left">{{ isDisabled() ? 'ההזמנה נשלחה ואינה ניתנת לעריכה.' : ''}}</p>
        </div>
      </div>

      @switch (pageState()) {
        @case (PageStates().Loading) {
          <div class="flex justify-center items-center h-96">
            <app-loader></app-loader>
          </div>
        }
        @case (PageStates().Error) {
          <div @fadeIn400 class="error-card-container">
            <div class="error-card">
              <div class="error-icon-wrapper">
                <span class="material-symbols-rounded">cloud_off</span>
              </div>
              <h3 class="error-title">אופס, משהו השתבש</h3>
              <button class="primary md retry-button">
                <span class="material-symbols-rounded">refresh</span>
                <span>נסה שוב</span>
              </button>
            </div>
          </div>
        }
        @case (PageStates().Empty) {
          <div class="flex flex-col mx-auto items-center gap-4">
            <p class="text-gray-500 col-span-2 text-center">אין מוצרים זמינים עבור ספק זה.</p>
            <button class="primary sm" tooltipPosition="top" [pTooltip]="'לדף הספק'" (click)="navigateToSupplier()">
              <span class="material-symbols-rounded">open_in_new</span>
              לדף הספק
            </button>
          </div>
        }
        @case (PageStates().Ready) {
          <div class="grid grid-cols-2 gap-0" cdkDropList cdkDropListGroup cdkDropListOrientation="mixed" [cdkDropListData]="groupedProducts()" (cdkDropListDropped)="dropCategory($event)">
            @for (group of groupedProducts(); track group.categoryName; let i = $index) {
              <div class="category-drag-container" cdkDrag [cdkDragDisabled]="!dragAndDropEnable()" (cdkDragMoved)="onDragMoved($event)">
                <div class="category-wrapper">
                  <h3 class="category-header" cdkDragHandle>
                    @if(dragAndDropEnable()){<i class="pi pi-arrows-alt handle-icon"></i>}
                    {{ group.categoryName }}
                  </h3>
                  <div class="products-container"
                    cdkDropList
                    [cdkDropListData]="group.products"
                    (cdkDropListDropped)="dropProduct($event)"
                    [id]="group.categoryName + i" 
                    [cdkDropListDisabled]="!dragAndDropEnable()">
                    @for (product of group.products; track product.id) {
                      <div class="product-wrapper" cdkDrag [cdkDragDisabled]="!dragAndDropEnable()" (cdkDragMoved)="onDragMoved($event)" (click)="incrementQuantity(product.id)" 
                      [ngClass]="{ 
                        'with-quantity': getProductQuantity(product.id) > 0, 
                        'not-in-order': isDisabled() && getProductQuantity(product.id) == 0,
                        'sent-order' : existingOrder?.status == OrderStatus.Sent
                        }"
                        >
                        <div class="grid grid-cols-4">
                          <button class="quantity-btn translate-y-3" [disabled]="!canDecrement(product.id)" (click)="onMinusClick($event, product.id)" type="button">
                            <i class="pi pi-minus" [class.opacity-40]="!canDecrement(product.id)"></i>
                          </button>
                          <div class="product-name-wrapper" [class.no-quantity]="getProductQuantity(product.id) == 0">
                            <span class="product-name">{{ product.name }}</span>
                          </div>
                          <div class="flex w-full items-center justify-end">
                            <button class="quantity-btn translate-y-3" [disabled]="!canIncrement(product.id)" type="button">
                              <i class="pi pi-plus"></i>
                            </button>
                          </div>
                        </div>
                        <div class="product-quantity-price" [class.no-quantity]="getProductQuantity(product.id) === 0">
                          <span class="text-secondary-600 text-[10px]">
                            {{ getProductQuantity(product.id) | pluralizePackage : product.package }}
                          </span>
                          <span class="text-secondary-600 text-[10px]">
                            {{ getProductTotalCost(product) | currency: 'ILS' }}
                          </span>
                        </div>
                      </div>
                    } @if (group.products.length === 0) {
                      <div class="empty-category-placeholder">
                        <i class="pi pi-box text-2xl"></i>
                        <p>אין מוצרים בקטגוריה</p>
                      </div>
                    }
                  </div>
                </div>
                <div *cdkDragPlaceholder class="product-placeholder"></div>
                <div *cdkDragPlaceholder class="category-placeholder"></div>
              </div>
            }
          </div>
        
          <div class="form-field">
            <label for="notes" class="form-label">הערות</label>
            <textarea id="notes" pTextarea [(ngModel)]="notes" rows="4" [style]="{ width: '100%' }" [disabled]="isDisabled()" [placeholder]="isDisabled() ? '' : 'הוסף הערות (אופציונלי)'"></textarea>
          </div>
          



        }
      }
    }
  </div>
</div>