@font-face {
	font-family: 'Fredoka';
	font-style: normal;
	font-weight: 300 700; /* Variable font weight */
	font-display: swap; /* Crucial for performance */
	src: url('../fonts/fredoka-v16-latin-regular.woff2') format('woff2');
}

/* Material Symbols */
@font-face {
	font-family: 'Material Symbols Rounded';
	font-style: normal;
	font-weight: 100 400;
	font-display: swap; /* Crucial for performance */
	src: url('../fonts/material-symbols-rounded-v258-latin-regular.woff2') format('woff2');
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
	-webkit-text-fill-color: #000 !important;
	background-color: transparent !important;
	background-image: none !important;
	color: #000 !important;
}

html {
	height: 100%;
	scroll-behavior: smooth;

	font-size: 16px;
	margin: 0;
	padding: 0;
	font-family: 'Fredoka', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: var(--text-color);
}

body {
	min-height: 100%;
	height: 100%;
	/* background-color: var(--grey-100); */
	/* overflow: hidden; */
}

.material-symbols-rounded {
	font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 28;
}

a {
	cursor: pointer;
}

/* SCROLL BAR */
/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background: transparent !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 40px;
	background: #d1d5db;
	/* background-color: var(--secondary-200); */
	cursor: pointer;

	&:hover {
		/* background: var(--secondary-500); */
		background: #1e293b;
	}
}

::-webkit-scrollbar-track {
	/* border: 1px solid var(--secondary-300); */
	border: #f1f1f1;
	border-radius: 28px;
	scrollbar-color: white;
	-ms-overflow-style: none;
	/* Hide scrollbar for IE and Edge */
	scrollbar-width: thin;
	/* Specify a scrollbar width for Firefox */
	scrollbar-color: white;
	/* Specify scrollbar color for Firefox */
}

/* Angular materials  */

/* Slide toggle */
.mat-mdc-slide-toggle {
	--mdc-switch-track-width: 42px;
	--mdc-switch-track-height: 22px;
	--mat-switch-with-icon-handle-size: 14px;
	--mat-switch-pressed-handle-size: 14px;
	--mat-switch-unselected-with-icon-handle-horizontal-margin: 0 4px;
	--mat-switch-unselected-pressed-handle-horizontal-margin: 0 4px;
	--mat-switch-selected-with-icon-handle-horizontal-margin: 0 24px;
	--mat-switch-selected-pressed-handle-horizontal-margin: 0 24px;
}

.mdc-switch--unselected .mdc-switch__icon,
.mdc-switch--selected .mdc-switch__icon {
	--mdc-switch-selected-icon-size: 12px;
	--mdc-switch-unselected-icon-size: 12px;
}

/* Tabs */
.mat-mdc-tab-group {
	&.sm {
		/* max-width: 400px; */
	}
	&.no-labels .mat-mdc-tab-header {
		display: none !important;
	}
}

/* mat-chip */
button.mdc-evolution-chip__action.mat-mdc-chip-action.mdc-evolution-chip__action--primary {
	width: 100%;
}

.mdc-evolution-chip__graphic {
	flex: unset !important;
}

.mat-mdc-chip-set .mdc-evolution-chip-set__chips {
	padding: 6px 4px;
	display: grid;
	grid-template-columns: repeat(7, minmax(0, 1fr));
	gap: 4px;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.mat-mdc-chip-set .mdc-evolution-chip {
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin: 0 !important;
}

@media (max-width: 600px) {
	.mdc-evolution-chip__action.mat-mdc-chip-action.mdc-evolution-chip__action--primary {
		padding-left: 0;
	}

	.mat-mdc-standard-chip {
		height: fit-content !important;
	}

	.mdc-evolution-chip__action {
		flex-direction: column;
	}

	.mdc-evolution-chip__cell.mdc-evolution-chip__cell--primary {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

/* primeNG */
p-selectbutton.custom.sm .p-togglebutton-content {
	padding: clamp(2px, 2vw, 8px);
	.material-symbols-rounded {
		font-size: 18px;
	}
}
p-button.p-button-xs {
	span::before {
		font-size: 12px !important;
	}
	.p-button-icon-only {
		width: 28px !important;
		height: 28px !important;
	}
}
p-splitbutton {
	.p-button-outlined:not(:disabled):hover {
		background-color: transparent !important;
	}
	.p-button-sm {
		padding: 0 !important;
		font-size: 12px !important;
	}
	.p-button-sm .p-button-icon {
		width: 24px !important;
		font-size: 12px !important;
	}
	.p-button-label {
		font-size: 12px !important;
	}
	.p-iconwrapper {
		svg {
			display: none;
		}
		position: relative;
		&::after {
			content: '\e313';
			position: absolute;
			font-size: 14px;
			font-family: 'Material Symbols Rounded';
		}
	}
	.p-splitbutton-button.p-button-small.p-button-sm {
		padding: 4px 8px  4px 0px !important;
		gap: 0;
	}
}

p-tieredmenusub {
	span.p-tieredmenu-item-icon,
	span.p-tieredmenu-item-label {
		font-size: 12px !important;
	}
	a.p-tieredmenu-item-link {
		padding: 8px 12px !important;
	}
}

.p-tieredmenu {
	min-width: fit-content !important;
}

.p-button-danger {
	--p-button-danger-background: var(--red-50);
	--p-button-danger-color: var(--grey-800);
	--p-button-danger-border-color: transparent;
	--p-button-danger-hover-background: var(--red-500);
	--p-button-danger-hover-border-color: transparent;
}
.p-overlay-content {
	direction: rtl;
}

/* Dialog */
.p-dialog {
	direction: rtl;
	overflow: hidden;
	/* max-width: 450px; */

	.p-dialog-header {
		/* background: var(--primary-50); */
		color: var(--grey-800);
		padding: 12px 20px;
		.p-button-text.p-button-secondary {
			width: 32px !important;
			height: 32px !important;
		}
	}

	&.no-header {
		.p-dialog-header {
			padding: 0px;
		}
		.p-dialog-header-actions {
			display: none;
		}
	}

	&.bottom-overlay{
		position: relative;
	}
	.p-dialog-title {
		font-weight: 500;
		font-size: 17px;
		color: #334155;
	}

	.p-dialog-content {
		/* padding: 0 24px 24px !important; */
		/* color: var(--grey-800); */
	}

	.p-dialog-footer,
	.dialog-footer {
		padding: 1rem;
		/* border-top: 1px solid var(--grey-200); */
		display: flex;
		justify-content: flex-end;
		gap: 0.5rem;
	}

	@media (max-width: 576px) {
		.p-dialog-content {
			padding: 0 16px 16px !important;
		}

		.p-card-body {
			padding: 0.5rem;
		}

		.detail-item {
			gap: 0.5rem;

			.detail-icon {
				font-size: 1rem;
			}

			.detail-label,
			.detail-value {
				font-size: 0.8rem;
			}
		}
	}
}

.p-dialog {
	.p-dialog-content:has(app-order-dialog) {
		padding: 0 !important;
	}
}

.p-dialog.no-padding {
	.p-dialog-header,
	.p-dialog-content {
		padding: 0 !important;
	}
}
/* button.p-button {
  display: flex;
  flex-direction: row-reverse;
} */

/* Input Fields */

textarea,
.p-inputtext,
.p-textarea,
.p-select,
.p-multiselect {
	border-radius: 24px !important;
	border: 1px solid var(--grey-200) !important;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03) !important;
	transition: all 0.2s ease-in-out !important;
	background: linear-gradient(0deg, var(--grey-50), white) !important;
	outline: none;
	/* padding: 6px 12px; */
	font-size: 12px !important;

	&::placeholder,
	.p-select-label.p-placeholder,
	.p-select-label {
		/* padding: 0 4px !important; */
		font-size: 12px !important;
		font-weight: 400 !important;
		letter-spacing: 0.2px !important;
	}

	&.sm {
		padding: 0 4px !important;
		font-size: 12px !important;
	}
	&:hover {
		border-color: var(--grey-300) !important;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06) !important;
	}

	&:focus,
	&:focus-within,
	&:active,
	&.p-select-open {
		border-color: var(--primary-200) !important;
		box-shadow: 0 4px 12px var(--primary-50) !important;
	}

	&:disabled {
		opacity: 0.7;
		background: var(--grey-40) !important;
		&:hover {
			border-color: var(--grey-200) !important;
			background: var(--grey-30) !important;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06) !important;
		}
	}

	p-selectitem {
		border-radius: 4px !important;
	}

	p-selectitem:last-child .p-select-option {
		border-radius: 4px 4px 8px 8px !important;
	}

	/* &.ng-invalid.ng-touched,
	&.ng-invalid.ng-touched.ng-dirty {
		border: 1px solid var(--red-300) !important;
		&:focus,
		&:focus-within,
		&:active,
		&.p-select-open {
			border: 1px solid var(--red-300) !important;
			box-shadow: 0 4px 12px var(--red-50) !important;
		}
		&::placeholder,
		.p-select-label.p-placeholder,
		.p-select-label {
			color: var(--red-400) !important;
		}
	} */
}

/* input.transparent {
	background: red !important;
	border: none !important;
	box-shadow: none !important;
	padding: 0 !important;
} */

/* Select */
.p-select {
	direction: rtl;
	background-color: var(--grey-20);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	padding: 0.5rem;
	height: 100%;
	align-items: center;
}

.p-select-option {
	direction: rtl;
	font-size: 14px;
}

/* Table */

.p-datatable th,
.p-datatable td {
	font-size: clamp(11px, 1.5vw, 13px);
}

.p-datatable {
	background: var(--grey-20);
	border-radius: var(--border-radius);
	overflow: hidden;
	box-shadow: var(--box-shadow);
}

.p-datatable th {
	background: var(--grey-60) !important;
	color: var(--grey-500);
	font-weight: 500;
	padding: 0.5rem;

	svg.p-icon.p-sortable-column-icon {
		height: 10px;
	}
}

.p-datatable td {
	padding: 0.5rem;
	border-bottom: 1px solid var(--grey-50);
	transition: 0.2s ease-in-out all;
	@media screen and (max-width: 768px) {
		justify-content: flex-start !important;
	}
}

.p-datatable tr:hover {
	background-color: var(--grey-20) !important;
	transition: all 0.3s ease;

	> td {
		color: var(--primary-700);
	}
}

.p-datatable tr:last-child td {
	border-bottom: none;
}

.p-datatable tr {
	transition: 0.2s ease-in-out;
	&:has(.delete-btn) {
		position: relative;

		&::after {
			transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1),
				background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
			content: '';
			position: absolute;
			left: 6px;
			top: 50%;
			transform: translateY(-50%);
			height: 0%;
			width: 2px;
			background-color: var(--red-200);
			border-radius: 50px;
		}
	}

	&:has(.delete-btn:hover) {
		background-color: var(--red-50) !important;

		&::after {
			height: 55%;
			width: 2px;
			background-color: var(--red-500);
		}
	}
}

.item-to-delete {
	background-color: var(--red-100) !important;
	border: 1px solid var(--red-300) !important;
	border-radius: 12px !important;
	transition: all 0.2s ease-in-out;
	&::after {
		height: 55%;
		width: 2px;
		background-color: var(--red-500);
	}
}

.actions-cell {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 4px;
}

.table-image {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 6px;
	border: 1px solid var(--grey-200);
}

.no-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--grey-50);
	border-radius: 4px;
	color: var(--grey-400);
	font-size: 10px;
	padding: 2px;
	width: 32px;
	height: 32px;
	border-radius: 6px;

	i {
		font-size: 24px;
		/* margin-bottom: 2px; */
		opacity: 0.7;
	}

	span {
		line-height: 1;
	}
}

.p-inputtext {
	width: 100%;
}

/* Number Input  */
input.p-inputtext.p-inputnumber-input {
	position: relative !important;
	/* padding: 12px 4px !important; */
	border-radius: 20px;
}

.p-inputnumber-stacked {
	.p-inputnumber-button {
		position: absolute !important;
		top: 50%;
		transform: translateY(-50%);

		&:active,
		&:focus {
			transform: translateY(-50%) !important;
			outline: none;
		}

		&:hover {
			background: transparent;
		}
	}

	.p-inputnumber-button-group {
		position: static !important;

		.p-iconwrapper {
			visibility: hidden;
			display: none;
		}
	}

	.p-inputnumber-decrement-button,
	.p-inputnumber-increment-button {
		&::after {
			font-family: 'Material Symbols Rounded';
			font-size: 18px !important;
			color: var(--grey-600) !important;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.3s ease-in-out;
			border-radius: 50%;
			width: 24px;
			height: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&:hover::after {
			background-color: var(--grey-100);
		}
	}

	.p-inputnumber-increment-button {
		left: -1px;

		&::after {
			content: '\e145';
		}
	}

	.p-inputnumber-decrement-button {
		right: -1px;

		&::after {
			content: '\e15b';
		}
	}
}

/* Password input */
.p-password {
	width: 100%;

	.p-inputtext {
		width: 100%;
	}
}

textarea,
.p-inputtext,
.p-textarea,
.p-select,
.p-multiselect {
	border-radius: 24px !important;
	border: 1px solid var(--grey-200) !important;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03) !important;
	transition: all 0.2s ease-in-out !important;
	background: linear-gradient(0deg, var(--grey-50), white) !important;
	outline: none;
	/* padding: 6px 12px; */
	font-size: 12px !important;

	&::placeholder,
	.p-select-label.p-placeholder,
	.p-select-label {
		padding: 0 4px !important;
		font-size: 12px !important;
		font-weight: 400 !important;
		letter-spacing: 0.2px !important;
	}

	&.sm {
		padding: 0 4px !important;
		font-size: 12px !important;
	}
	&:hover {
		border-color: var(--grey-300) !important;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06) !important;
	}

	&:focus,
	&:focus-within,
	&:active,
	&.p-select-open {
		border-color: var(--primary-200) !important;
		box-shadow: 0 4px 12px var(--primary-50) !important;
	}

	p-selectitem {
		border-radius: 4px !important;
	}

	p-selectitem:last-child .p-select-option {
		border-radius: 4px 4px 8px 8px !important;
	}
}

/* Select(Dropdown) */
.p-select {
	.p-iconwrapper {
		display: none;
	}

	.p-select-dropdown::after {
		content: '\e313';
		font-family: 'Material Symbols Rounded';
		font-size: 20px !important;
		color: var(--grey-600) !important;
		position: absolute;
		top: 50%;
		left: 0.75rem;
		transform: translateY(-50%);
		transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
	}

	&.p-select-open .p-select-dropdown::after {
		transform: translateY(calc(-50% - 1px)) rotate(180deg);
		color: var(--primary-500) !important;
	}
}

.p-multiselect {
	.p-multiselect-dropdown > .p-iconwrapper {
		display: none;
	}

	.p-multiselect-dropdown::after {
		content: '\e313';
		font-family: 'Material Symbols Rounded';
		font-size: 20px !important;
		color: var(--grey-600) !important;
		position: absolute;
		top: 50%;
		left: 0.75rem;
		transform: translateY(-50%);
		transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
	}

	&.p-multiselect-open .p-multiselect-dropdown::after {
		transform: translateY(calc(-50% - 1px)) rotate(180deg);
		color: var(--primary-500) !important;
	}

	.p-inputtext {
		font-size: 13px;
		padding: 4px 8px;
		border-radius: 24px;

		&:hover {
			border-color: var(--grey-300) !important;
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06) !important;
		}

		&:focus,
		&:active,
		&.p-select-open {
			border-color: var(--primary-200) !important;
			box-shadow: 0 4px 12px var(--primary-50) !important;
		}
	}
}

/* P-toast */
.p-toast {
	.p-toast-message {
		margin-bottom: 0.5rem;
		box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
		/* background: linear-gradient(145deg, #333333bb, #333333bb); */

		border-radius: 4px;
		overflow: hidden;
	}

	.p-toast-message-content {
		border-radius: 3px;

		.p-toast-message-text {
			gap: 0 !important;
		}
	}

	.p-toast-message-icon {
		font-size: 20px;
		margin-left: 0.75rem;
	}

	.p-toast-message-success {
		.p-toast-close-icon,
		.p-toast-message-icon,
		.p-toast-summary {
			color: var(--green-700);
		}

		.p-toast-message-content {
			border-left: 3px solid var(--green-400);
			background: linear-gradient(145deg, var(--green-100), var(--green-50));

			.p-toast-detail {
				color: var(--green-700);
			}
		}
	}

	.p-toast-message-error {
		.p-toast-close-icon,
		.p-toast-message-icon,
		.p-toast-summary {
			color: var(--red-700);
		}

		.p-toast-message-content {
			border-left: 3px solid var(--red-400);
			background: linear-gradient(145deg, var(--red-100), var(--red-50));

			.p-toast-detail {
				color: var(--red-700);
			}
		}
	}

	.p-toast-message-warn {
		.p-toast-close-icon,
		.p-toast-message-icon,
		.p-toast-summary {
			color: var(--yellow-700);
		}

		.p-toast-message-content {
			border-left: 3px solid var(--yellow-400);
			background: linear-gradient(145deg, var(--yellow-100), var(--yellow-50));
		}

		.p-toast-detail {
			color: var(--yellow-700);
		}
	}

	.p-toast-message-info {
		.p-toast-close-icon,
		.p-toast-message-icon,
		.p-toast-summary {
			color: var(--primary-700);
		}

		.p-toast-message-content {
			border-left: 3px solid var(--primary-400);
			background: linear-gradient(145deg, var(--primary-100), var(--primary-50));
		}

		.p-toast-detail {
			color: var(--primary-700);
		}
	}

	.p-toast-close-button {
		.p-icon {
			margin-top: 8px;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
			color: #ffffff;
		}

		&:focus {
			outline: none;
			box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
		}
	}
}

/* Base tooltip styling */
.p-tooltip .p-tooltip-text {
	direction: rtl;
	background-color: var(--grey-700);
	color: #ffffff;
	padding: 4px 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-family: 'Fredoka', sans-serif;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-5px) scale(0.25);
	}

	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

/* Warning tooltip variant */
.p-tooltip.warning .p-tooltip-text {
	background-color: var(--warning-400);
	color: #ffffff;
}

/* Reset default arrow colors */
.p-tooltip.p-tooltip-top .p-tooltip-arrow,
.p-tooltip.p-tooltip-bottom .p-tooltip-arrow,
.p-tooltip.p-tooltip-left .p-tooltip-arrow,
.p-tooltip.p-tooltip-right .p-tooltip-arrow {
	border-color: transparent;
}

/* Warning tooltip arrow */
.p-tooltip.warning.p-tooltip-top .p-tooltip-arrow,
.p-tooltip.warning.p-tooltip-bottom .p-tooltip-arrow,
.p-tooltip.warning.p-tooltip-left .p-tooltip-arrow,
.p-tooltip.warning.p-tooltip-right .p-tooltip-arrow {
	border-color: transparent;
}

/* in use ? */
div.p-tablist-tab-list,
p-tabpanels.p-tabpanels.p-component {
	background-color: transparent;
	background: transparent;
}

div.p-tablist-tab-list > .p-tablist-active-bar {
	background-color: var(--primary-500);
}

p-tab.p-tab {
	color: var(--grey-600);
}

p-tab.p-tab-active {
	color: var(--primary-500);
	border-color: var(--primary-300);
}

p-tab.p-tab:not(.p-tab-active):not(.p-disabled):hover {
	background-color: transparent;
	background: transparent;
}

.p-menu-item-content > a.p-menu-item-link {
	direction: rtl;
}
