
@use '@angular/material' as mat;
@import '../styles/materials.theme.css';





//   html {
//   @include mat.theme(
//     (
//       color: (
//         primary: mat.$green-palette,
//         tertiary: mat.$blue-palette,
//       ),
//       density: -5,
//     )
//   );
// }

