.user-table-container {
	padding: 1rem;
}

.status-active {
	color: #16a34a;
	font-weight: 500;
}

.status-inactive {
	color: #dc2626;
	font-weight: 500;
}

.drag-handle {
	color: var(--secondary-700);
	cursor: move;
	font-size: 10px;
}

.cdk-drag-preview {
	box-shadow: var(--box-shadow-hover);
	opacity: 0.6;
	border-radius: var(--border-radius);
	z-index: 1000;
	direction: rtl;
	overflow: hidden;
	background: var(--secondary-100);
	border: 1px solid var(--secondary-300);
	display: flex;
	align-items: center;
	padding: 2px 6px;

	/* The core fix: Re-apply layout rules */
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	width: 180px;
}

.cdk-drag-placeholder {
	opacity: 0.8;
	background: var(--secondary-100);
	border: 2px dashed var(--secondary-300);
	border-radius: var(--border-radius);
	
		.user-table-body-cell,
		.user-table-header-cell {
			display: flex;
			align-items: center;
			gap: 4px;
			background-color: red!important;
		}
}
