<div class="login-page">
    <!-- רקע דינמי זהה -->
    <div class="background-shapes">
        <div class="shape shape1"></div>
        <div class="shape shape2"></div>
        <div class="shape shape3"></div>
    </div>

    <!-- כרטיס הרשמה -->
    <div class="card register-card">
        <div class="card-header">
            <img src="../../../app/assets/images/sapakit-logo-2.png" alt="Sapakit Logo" class="logo-image">
            <h1 class="title">יצירת חשבון חדש</h1>
            <p class="subtitle">הצטרף ל-Sapakit והתחל לנהל את ההזמנות שלך בחכמה</p>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="flex-wrap-wrapper">
                <div class="flex-wrap-item">
                    <label for="accountName">שם העסק*</label>
                    <p-iconfield>
                        <input pInputText id="accountName" formControlName="accountName" placeholder="העסק שלי" />
                        <p-inputicon styleClass="pi pi-briefcase" />
                    </p-iconfield>
                    @if (accountName.touched && accountName.hasError('required')) {
                    <small class="error-message">שדה חובה</small>
                    }
                </div>
                <div class="flex-wrap-item">
                    <label for="username">שם משתמש*</label>
                    <p-iconfield>
                        <input pInputText id="username" formControlName="username" placeholder="הקלד את שמך" />
                        <p-inputicon styleClass="pi pi-user" />
                    </p-iconfield>
                    @if (username.touched && username.hasError('required')) {
                    <small class="error-message">שדה חובה</small>
                    }
                </div>

                <div class="flex-wrap-item">
                    <label for="email">כתובת אימייל*</label>
                    <p-iconfield>
                        <input pInputText id="email" formControlName="email" placeholder="you@example.com" />
                        <p-inputicon styleClass="pi pi-envelope" />
                    </p-iconfield>
                    @if (email.touched && email.invalid) {
                    <small class="error-message">
                        @if (email.hasError('required')) { יש להזין כתובת אימייל }
                        @if (email.hasError('email')) { כתובת האימייל אינה תקינה }
                    </small>
                    }
                </div>

                <div class="flex-wrap-item">
                    <label for="password">סיסמה* {{`(מינימום ${passwordLength()} תווים)`}}</label>
                    <app-password-input
                        #passwordInputComp
                        inputId="password"
                        formControlName="password"
                        [minLength]="8"
                        [useCustomValidator]="true"
                        autocomplete="new-password">
                    </app-password-input>
                </div>

                <div class="flex-wrap-item">
                    <label for="confirmPassword">אימות סיסמה*</label>
                    <p-password id="confirmPassword" formControlName="confirmPassword" [feedback]="false"
                        [toggleMask]="true" placeholder="הקלד שוב את הסיסמה"></p-password>
                    @if (registerForm.hasError('mismatch') && confirmPassword.touched) {
                    <small class="error-message">הסיסמאות אינן תואמות</small>
                    }
                </div>

                <button pButton type="submit" [loading]="loading()" class="w-full justify-center mt-10">
                    <span class="p-button-label">יצירת חשבון</span>
                </button>
            </div>
        </form>

        <div class="card-footer">
            <p>כבר יש לך חשבון? <a routerLink="/login">התחבר</a></p>
        </div>
    </div>

    <div class="footer-text" dir="ltr">
        &copy; {{ currentYear }} Sapakit. All rights reserved.
    </div>
</div>