<div class="p-responsive">
    @switch (pageState()) {
    @case(PageStates.Loading) { <app-loader></app-loader> }
    @case(PageStates.Error) {
    <div @fadeIn400 class="error-card-container">
        <div class="error-card">
            <div class="error-icon-wrapper"><span class="material-symbols-rounded">cloud_off</span></div>
            <h3 class="error-title">אופס, משהו השתבש</h3>
            <button (click)="refreshData()" class="primary md retry-button">
                <span class="material-symbols-rounded">refresh</span>
                <span>נסה שוב</span>
            </button>
        </div>
    </div>
    }
    @case(PageStates.Empty) {
    <div @fadeIn400 class="empty-state">
        <i class="pi pi-users"></i>
        <p>אין משתמשים בחשבון זה.</p>
        <p-button label="הוסף משתמש חדש" (onClick)="addUser()"></p-button>
    </div>
    }
    @case(PageStates.Ready) {
    <div @fadeIn400 class="flex flex-col gap-4 w-full h-full">
        <div class="flex gap-1 items-center">
            <h1 class="main-title">ניהול משתמשים</h1>
            @if (isLimited()) {
            <span class="text-sm tracking-tighter text-gray-500">
                ({{  usersCount() }}/{{ userLimit }})
            </span>
            }
        </div>
        <div class="actions-bar">
            <span class="search-box">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="חיפוש משתמשים..." [(ngModel)]="searchQuery">
            </span>
            <div class="flex gap-2">
                <button type="button" (click)="addUser()" class="primary md" [disabled]="hasReachedUserLimit()"
                    [pTooltip]="tooltipMessage()" tooltipPosition="top">
                    <span class="material-symbols-rounded">add</span>
                    <span>הוסף משתמש</span>
                </button>
            </div>
        </div>
        <p-table [value]="filteredUsers()" responsiveLayout="stack" [breakpoint]="'768px'" [rowHover]="true">
            <ng-template #header>
                <tr>
                    <th>שם</th>
                    <th>אימייל</th>
                    <th>תפקיד</th>
                    <th>טלפון</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template #body let-user>
                <tr>
                    <td data-label="שם">
                        <div class="flex gap-1 items-center">
                            @if(user.image) {
                            <img [src]="getImageUrl(user.image)" class="table-image" />
                            } @else {
                            <div class="no-image"><i class="material-symbols-rounded">account_circle</i></div>
                            }
                            {{ user.username }}
                        </div>
                    </td>
                    <td data-label="אימייל">{{ user.email }}</td>
                    <td data-label="תפקיד"><app-badge [enumValue]="user.role" [dataArray]="userRoleData"></app-badge>
                    </td>
                    <td data-label="טלפון">{{ user.phone }}</td>
                    <td data-label="">
                        <div class="actions-cell">
                            <p-button tooltipPosition="top" pTooltip="עריכה" icon="pi pi-pen-to-square"
                                (click)="editUser(user)" size="small" [rounded]="true" severity="secondary"></p-button>
                            <p-button tooltipPosition="top" pTooltip="מחיקה" icon="pi pi-trash"
                                (click)="confirmDelete(user)" size="small" [rounded]="true"
                                severity="danger"></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5" class="text-center p-4">
                        <div class="flex flex-col items-center gap-2 text-gray-500">
                            <i class="pi pi-search-minus text-3xl"></i>
                            <span>לא נמצאו משתמשים התואמים לחיפוש.</span>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    }
    }
    <p-confirmdialog header="אישור מחיקה" icon="pi pi-exclamation-triangle" acceptLabel="מחק" rejectLabel="ביטול"
        acceptButtonStyleClass="p-button-danger" rejectButtonStyleClass="p-button-text"></p-confirmdialog>
</div>